page-order-details {
  .pagination-sm{
    /deep/ .page-link {
      color: #616161 !important;
      font-size: 14px;
      border-radius: 0 !important;
      line-height: 21px !important;
      padding:5px 10px 5px 10px ;
    }
  }
}
